{
  "presets": [
    "es2015",
    "react",
    "survivejs-kanban",
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre",
      ],
      "plugins": [
        "typecheck",
      ],
    },
    "build" : {
      "plugins": [
        "transform-flow-strip-types",
      ],
    }
  },
}
